*.o
*.pyc
*.mail
*.pyf
*.exe
backend/Data/*.geo
backend/Data/*.log
backend/Data/*.mail
backend/Data/*.msh
examples/*.txt
examples/*.pdf
examples/*.log
docs/*.tex
docs/*.aux
docs/*.log
docs/*.fdb_latexmk
docs/*.gz
docs/*.out
docs/*.toc
test*/*.txt
test*/*.pdf
