*.o
*.pyc
*.mail
*.pyf
*.exe
EMUstack_backend/Data/*.geo
EMUstack_backend/Data/*.log
EMUstack_backend/Data/*.mail
EMUstack_backend/Data/*.msh
EMUstack_examples/*.txt
EMUstack_examples/*.pdf
EMUstack_examples/*.log
EMUstack_docs/*.tex
EMUstack_docs/*.aux
EMUstack_docs/*.log
EMUstack_docs/*.fdb_latexmk
EMUstack_docs/*.gz
EMUstack_docs/*.out
EMUstack_docs/*.toc
EMUstack_test*/*.txt
EMUstack_test*/*.pdf
